/*
  Project 3: Watch it outside Boston Edition
  Created By: Chinedu Emesue
*/

/*--------------------------------------------------------------
# General Styles
--------------------------------------------------------------*/
html, body{
    font-size: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	background:#ffffff;
}
ul li,ol li{
	font-size:14px;
}
p{
	margin:0;
	font-size:0.9em;
}
h1,h2,h3,h4,h5,h6,a{
	font-family: 'Roboto Condensed', sans-serif;
	margin:0;
}

/*--------------------------------------------------------------
# Top Header Styles
--------------------------------------------------------------*/
.top_header {
    padding: 1em 0;
	border-top: 3px solid #212121;
}

.make_reservation ul li a{
	color: #fff;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 6px 30px;
    font-weight: bold;
    background: #FF8D1B;
    border-radius: 5px;
}
.make_reservation ul li a:focus{
	outline:none;
}
.make_reservation ul li a:hover{
	background:#212121;
}
.make_reservation ul li{
	display:inline-block;
	color:#212121;
	font-size:1em;
}
.make_reservation ul li i,.make_reservation ul li:first-child{
	padding-right:1em;
} 

/*--------------------------------------------------------------
# Logo Styles
--------------------------------------------------------------*/
.film_festival_logo a {
    text-decoration: none;
}
.film_festival_logo a h1{
    color:#FF8D1B;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.film_festival_logo a span{
    color:#212121;
    
}
.film_festival_logo .edition{
    color:#FF8D1B;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-left: 100px;
}
/*--------------------------------------------------------------
# Search Bar Styles
--------------------------------------------------------------*/
.film_search .form-control {
    padding-left: 2.375rem;
}

.film_search .icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

/*--------------------------------------------------------------
# Navigation Bar Styles
--------------------------------------------------------------*/
.nav_cover {
    background: #FF8D1B;
}
.navbar-nav > li {
    text-align: center;  
    float: left;
}
.navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

.nav-link{
    height: 50px;    
}


/*--------------------------------------------------------------
# Reservation Form Styles
--------------------------------------------------------------*/
.modal-title {
    text-align: left;
    font-size: 2em;
    color: #212121;
}
.form_holder input[type="text"],.form_holder input[type="email"], .form_holder input[type="date"] {
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-weight: 400;
    font-size:14px;
  }
.people_count{
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-weight: 400;
    font-size:14px;  
}


/*--------------------------------------------------------------
# Banner Styles
--------------------------------------------------------------*/
.banner_head{
    width: 100%;
    height: 100vh;
    background: url(../images/outdoor_cinema.jpeg) top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.banner_head:before {
    content: "";
    background: rgba(6, 12, 34, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.banner_container{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 90px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
}
.welcome_text{
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
}
.welcome_extra{
    color: #c5c2c2;
  font-weight: 700;
  font-size: 20px;
}

/*--------------------------------------------------------------
# About Section Styles
--------------------------------------------------------------*/
.about_info > span{
font-family: "Raleway", sans-serif;
font-weight: 400;
margin: 0 0 20px 0;
padding: 0;
}

/*--------------------------------------------------------------
# Fetaured Movies Styles
--------------------------------------------------------------*/
.featured_movies{
    margin-top: 20px;
}
.featured_card{
    border: none;
}
.top_space{
    margin-top: 20px;
}
.borderless_card{
    border: none;
}
.noside_border{
    border-left: none;
    border-right: none;
    background-color: #212121;
}
.about_header, .showtimes_header{
    font-size: 2em;
    font-weight: 400;
    border-left: 5px solid #212121;
    margin-bottom: 1em;
    padding: 0.3em 0.5em;  
}
/*--------------------------------------------------------------
# News Carousel Styles
--------------------------------------------------------------*/
.carousel{
    margin-top: 0px;
  }
.carousel-inner{
    height: 300px;
  }
.carousel-caption{
    color: #fff;
    top: 50%;
  }
.news_bg{
    background: url(../images/news_bg.jpg) no-repeat;
}

/*--------------------------------------------------------------
# Google Map Styles
--------------------------------------------------------------*/
.location_map iframe {
    width: 100%;
    height: 100%;
    min-height: 300px;
  }

/*--------------------------------------------------------------
# Footer Styles
--------------------------------------------------------------*/
.footer_card{
    background-color: #212121;
    color:#fff;
}
.subform {
    border: 1px solid #fff;
}
.subform input[type="text"] {
    outline: none;
    display: block;
    width: 90%;
    border: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-weight: 400;
    font-size:14px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}
.subform > input[type="submit"]{
    margin-bottom: 10px;
    margin-left: 10px;
}
.social_links > a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}
.get_address{
    font-size: 1.0em;
}

h4.latest-text {
  border-left: 5px solid #212121;
  font-size: 1.7em;
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 1em;
  padding: 0.3em 0.5em;
  margin-left: 3em;
}

