/*
  Project 3: Watch It Outside Boston Edition
  Created By: Chinedu Emesue
*/

/*--------------------------------------------------------------
# General Styles
--------------------------------------------------------------*/
html, body{
    font-size: 100%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	background:#ffffff;
}
ul li,ol li{
	font-size:14px;
}
p{
	margin:0;
	font-size:0.9em;
}
h1,h2,h3,h4,h5,h6,a{
	font-family: 'Roboto Condensed', sans-serif;
	margin:0;
}

/*--------------------------------------------------------------
# Logo Styles
--------------------------------------------------------------*/
.logo_text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-size: 35px;    
}

.logo_text .edition {
    color:#fff;
    font-size: 14px;
    border-bottom: #f3f1f1 solid 2px;
}

/*--------------------------------------------------------------
# Navigation Bar Styles
--------------------------------------------------------------*/
.navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    text-align: center;
    font-size: 1.1em;
}

.navbar {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.nav-colr {
    color: #fff !important;    
}
.active .nav-link{
    color: black !important;
}

/*--------------------------------------------------------------
# Reservation Form Styles
--------------------------------------------------------------*/
form {
    border: 2px solid #212121;
    padding: 20px;
    border-radius: 5px;
}
form input[type="date"] {
    outline: none;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    border: 1px solid #d9d9d9;
    padding: 10px 15px;
    box-sizing: border-box;
    font-size:14px;
    border-radius: 5px;
  }
  button {
    margin-left: 15px;
}
/*--------------------------------------------------------------
# Banner Styles
--------------------------------------------------------------*/
.banner_head{
    width: 100%;
    height: 100vh;
    background: url(../images/outdoor_cinema.jpeg) top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.banner_head::before {
    content: "";
    background: rgba(6, 12, 34, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.banner_container{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 90px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
}
.welcome_text{
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 0px;
}
.welcome_extra{
    color: #c5c2c2;
    font-weight: 700;
    font-size: 20px;
}

/*--------------------------------------------------------------
# About Section Styles
--------------------------------------------------------------*/
.about_info > span{
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about-text {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about-text a {
    color:#ff8d1b;
}

/*--------------------------------------------------------------
# Featured Movies Styles
--------------------------------------------------------------*/
.featured_movies{
    margin-top: 20px;
}
.featured_card{
    border: none;
}
.top_space{
    margin-top: 20px;
}
.borderless_card{
    border: none;
}
.noside_border{
    border-left: none;
    border-right: none;
    background-color: #212121;
}
.about_header, .showtimes_header, .reserve_header {
    border-left: 5px solid #ff8d1b;
    font-size: 2em;
    color: #212121;
    text-transform: uppercase;
    margin-bottom: 1em;
    padding: 0.3em 0.5em; 
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #FF8D1B;
}
.nav-pills li a {
    background: #f3f1f1;
    border: none;
    border-radius: 0;
    font-size: 16px;
    color: #212121;
    margin-left: 5px;
    margin-top: 5px;
}
.card {
    border: none;
}
/*--------------------------------------------------------------
# News Carousel Styles
--------------------------------------------------------------*/
.carousel{
    margin-top: 0px;
  }
.carousel-inner{
    width: 100%;
    height: 100%;
    min-height: 300px;
  }
.carousel-caption{
    color: #fff;
    top: 50%;
  }
.carousel{
    background: url(../images/news_bg.jpg);
}
.carousel::before {
    content: "";
    background: rgba(3, 8, 26, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.news_header, .event_header{
    border-left: 5px solid #ff8d1b;
    color: #212121;
    text-transform: uppercase;
    padding: 0.3em 0.5em;
}
/*--------------------------------------------------------------
# Google Map Styles
--------------------------------------------------------------*/
.location_map iframe {
    width: 100%;
    height: 100%;
    min-height: 300px;
  }

/*--------------------------------------------------------------
# Footer Styles
--------------------------------------------------------------*/
.footer_card{
    background-color: #212121;
    color:#fff;
}
.subform {
    border: 1px solid #fff;
}
.subform input[type="text"] {
    outline: none;
    display: block;
    width: 90%;
    border: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-weight: 400;
    font-size:14px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}
.subform > input[type="submit"]{
    margin-bottom: 10px;
    margin-left: 10px;
}
.btn-sub {
    color: #fff;
    background-color: #FF8D1B;
    border: none;
}
.btn-sub:hover {
    color: #FF8D1B;
    background-color: #fff;
    border: none;
}
.social_links > a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}
.get_address{
    font-size: 1.0em;
}

h4.latest-text {
  border-left: 5px solid #212121;
  font-size: 1.7em;
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 1em;
  padding: 0.3em 0.5em;
  margin-left: 3em;
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media (max-width: 991px) { 
    .banner_head .banner_container {
      top: 70px;
    }
  
    .banner_head h1 {
      font-size: 34px;
    }
  
    .banner_head p {
      font-size: 16px;
    }

    .today_film, .event_venue{
        margin-top: 10px;
    }

}

@media (max-width: 465px){
    .logo_text {
        font-weight: 400;
        font-size: 20px;
        
    }
    .logo_text .edition {
        font-size: 10px;
    }
    .navbar {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }
    .carousel-inner {
        overflow-y: scroll;
        overflow-y: scroll;
    }
}

