html, body{
    font-size: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	background:#ffffff;
}
ul li,ol li{
	font-size:14px;
}
p{
	margin:0;
	font-size:0.9em;
}
h1,h2,h3,h4,h5,h6,a{
	font-family: 'Roboto Condensed', sans-serif;
	margin:0;
}

/* Header styles */
.top_header {
    padding: 1em 0;
	border-top: 3px solid #212121;
}

.make_reservation ul li a{
	color: #fff;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 6px 30px;
    font-weight: bold;
}
.make_reservation ul li a:focus{
	outline:none;
}
.make_reservation ul li a:hover{
	background:#212121;
}
.make_reservation ul li{
	display:inline-block;
	color:#212121;
	font-size:1em;
}
.make_reservation ul li i,.make_reservation ul li:first-child{
	padding-right:1em;
} 
/* Header styles ends*/

/* Navbar styles */
.nav_cover {
    background: #FF8D1B;
}
.navbar-nav > li {
    border-right: 1px dotted #fff;
    text-align: center;  
    float: left;
    /* width: 40%;  */
}
.navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
/* .first_link{
    margin-left: 100px;
} */
.nav-link{
    height: 50px;    
}

/* navbar ends here */

/* reservation modal */
.modal-title {
    text-align: left;
    font-size: 2em;
    color: #212121;
}
.form_holder input[type="text"],.form_holder input[type="email"] {
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-weight: 400;
    font-size:14px;
  }
/* reservation */

/* carousel */

/* carousel ends here */

/* featured movies */
.featured_movies{
    margin-top: 20px;
}
.featured_card{
    border: none;
}
.top_space{
    margin-top: 20px;
}
.borderless_card{
    border: none;
}
.noside_border{
    border-left: none;
    border-right: none;
}
/************************************************************************************************/
